# The variables added in this file are only available locally in MiniOxygen.

# Run `h2 link` to also inject environment variables from your storefront,

# or `h2 env pull` to populate this file.

SESSION_SECRET="foobar"

PUBLIC_STORE_DOMAIN=orgalife-theme.myshopify.com
PUBLIC_STOREFRONT_ID=

PUBLIC_STOREFRONT_API_TOKEN=
PRIVATE_STOREFRONT_API_TOKEN=

PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=
PUBLIC_CUSTOMER_ACCOUNT_API_URL=https://orgalife-theme.myshopify.com/
